.container-fluid{
	box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /**background-color: red;**/
}
.row{
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
}
.col-md-8 {
    font-family: 'Quicksand';
    font-size: 175%;
    color: #b392ac;
    align-items: center;
    align-content: center;
    display: inline-block;
 }
 .col-s-10 {
    font-family: 'Quicksand';
    font-size: 125%;
    color: #b392ac;
    align-items: center;
    align-content: center;
    display: inline-block;
 }
 .col-md-2 {
    font-family: 'Quicksand';
    color: #b392ac;
    font-size: 125%;
    padding-top: 5px;
    text-align: right;
    display: inline-block;
 }

 .col-s-1 {
    font-family: 'Quicksand';
    color: #b392ac;
    font-size: 90%;
    padding-top: 5px;
    text-align: left;
    align-content: center;
    display: inline-block;
 }

.col-s-4 {
    vertical-align: middle;
    align-items: center;
    align-content: center;
    padding: 10px 10px;
    display: inline-block
}

h1 {
    font-family: 'Roboto';
    color: #735d78;
}

p {
    vertical-align: middle;
    
}
.container {
    width: 125%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-family: 'Roboto';

}

    

.col-4 {
    display: inline-block;
}
.img-row{
    align-items: center;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}
 