:root{
    --main-color: #FFBCB5;
    --accent-color1: #4c443c;
    --accent-color2: #07beb8;
    --accent-color3: #ef626c;
    /* light baby pink:  #FFBCB5 */
}
html {
    scroll-behavior: smooth;
}
body {
    padding-top: 50px;
    font-size: 100%;
}

/* Sitewide */
.container-fluid{
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}
/* Nav Bar */
.navbar {
    background-color: white;
}
.navbar-brand {
    font-family: 'Quicksand';
    color: #4c443c;
}
.nav-link {
    font-family: 'Roboto';
    color: var(--accent-color2);
}
.menu-icon {
    color: var(--accent-color2);
}

/* Main Header */

.card-img-overlay {
    padding: 5rem;
}
.material-icons:not(.menu-icon){
    color: white;
}
#mainHeader {
    background-color: var(--main-color);
    border: 0; 
}
#mainText {
    padding: 4rem;

}
.list-group {
    flex-direction: row;
    justify-content: center;
}
.list-group-item {
    background-color: transparent;
    border: 0px;
    text-align: center;
    animation: 1s ease-out fadeIn;
}

/* Card Columns */
.card-columns  {
    padding-top: 20px;
    width: 80%;
    align-content: center;
}
.card:not(#mainHeader):hover {
    overflow: hidden;
    border-color: #ececec;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.25);
    text-decoration-color: var(--accent-color2);
}
.card:not(#mainHeader):hover h4 {
    color: var(--main-color)
}

/* Buttons */
.btn-outline-primary {
    color: var(--accent-color2);
    border-color: var(--accent-color2);
}
.btn-outline-primary:hover{
    color:#fff;
    background-color: var(--accent-color2);
    border-color:var(--accent-color2);
}
.btn-outline-primary:active {
    color:#fff;
    background-color: var(--accent-color2);
    border-color:var(--accent-color2);
}
.btn-outline-primary:focus {
    color:#fff;
    background-color: var(--accent-color2);
    border-color:var(--accent-color2);
}

/* Projects Main Page */
.card:not(#mainHeader):not(.column):hover h3 {
    color: var(--main-color)
}
.card {
    overflow: hidden;
    border-color: #ececec;

}
.card-title {
    font-family: 'Roboto';
    font-size: 200%;
    color: var(--accent-color3);
    animation: 1s ease-out fadeIn;
}
.card-text{
    padding: 10px 0px 10px 0px;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    height: 40%;
}
.img-row {
    width: 300px;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}
.col-12 {
    padding: 2% 5% 2% 5%;
}
.col-12 .card {
    border-radius: 10px 10px 10px 10px;
}

/* Projects Individual Pages */
.header {
    border: 0; 
    position: relative;
    text-align: center;
    height: 350px;
    overflow: hidden;
}
.header-img {
    filter: brightness(10%);
    filter: blur(5px);
    width: 100%;
}
.title {
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner-nav {
    background-color: #efefef;
    width: 100%;
}
.inner-nav-item {
    list-style-type: none;
    padding: 25px;
    color: var(--accent-color2);
}
.inner-container {
    padding: 50px 15px 0px 15px;
    margin-bottom: -10px;
 
}
.project-pics {
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5px;
}
/* About Me */
*{box-sizing:border-box}
#aboutBackground {
    background-color: var(--main-color);
    padding: 5%;
}
#profile {
    background-color: var(--main-color);
    padding-bottom: 30px;
}
.profilePic {
    border-radius: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: white;
    border-style: solid;
    border-width: 5px;
}
.list-group-item a {
    color: var(--accent-color3);
}
.column {
    margin: 0;
    padding: 5%;
    border-radius: 25px;
    height: 100%;
}
.container {
    width: 50%;
    display: inline-block;
}
.aboutTitle {
    text-align: center;
    font-weight: 400;
    font-size: 125%;
}
.skill {
   margin-bottom: 15px;
} 
.skillTitle {
    margin-bottom: 0px;
}
.meter {
    text-align: right;
    height: 30px;
    overflow: hidden;
}
.meter span {
    display: block;
    height: 100%;
}
.progress {
    background-image: linear-gradient(to right, var(--accent-color3), var(--main-color));
    animation: fillBar 3s ease-in-out both;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color1);
}
.percentage {
    font-weight: 400;
    color: #fff;
    margin-left: 5px;
    padding: 2px;
    text-align: left;
    font-size: 125%;
    animation: 4s ease-out fadeIn;
}

.fab, .far, .fas{
    margin-block-start: .5em;

}

a {
    text-decoration: none;
}
a:hover{
    color: var(--accent-color1);
}
p {
    text-decoration: none;
    color: black;
}
li:not(.regular):hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    color: var(--accent-color3);
}
h1{
    font-family: 'Roboto';
    font-size: 225%;
    color: white;
    text-align: center;
    font-weight: 100;
    animation: 2s ease 0s 1 fadeIn;
}
h1:not(#mainText) {
    text-shadow: 1px 1px 3px #000000;
}
h2 {
    font-family: 'Roboto';
    color:var(--accent-color3);
    font-size: 2rem;
}
h3 {
    font-family: 'Roboto';
    font-size: 1.25rem;
}
h4 {
    font-family: 'Roboto';
    color: var(--accent-color3);
}
h5, h6 {
    font-size: 1rem;
}

@media (max-width: 640px) {
    .card-img {
        height: 250px;
    }
    .card-img-overlay {
       padding: 1rem;
    }
    #mainText {
        padding: 3%;
    }
    .list-group-item {
        font-size: 65%;
        padding: 5px;
    }
    h1 {
        font-size: 115%;
    }
    h2 {
        font-size: 105%;
    }
    h3, h4, h5 {
        font-size: 100%;
    }
    .img-row {
        height: 100%;
    }
    .header {
        height: fit-content;
    }
    .title {
        padding: 10%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .inner-nav .list-group {
        flex-direction: column;
    }
    .inner-nav-item {
        text-align: center;
        padding: 5px;
    }
    .project-pics {
        width: 100%;
    }
}


@media (min-width: 641px) and (max-width: 1024px) {
    .card-img {
        height: 300px;
    }
    .card-img-overlay {
        padding: 1rem;
     }
     #mainText {
         padding: 3%;
     }
     .list-group-item {
         font-size: 65%;
         padding: 5px;
     }
     h1 {
         font-size: 135%;
     }
     .img-row {
        height: 100%;
    }
}


@media (min-width: 1024px) {
 
}

/*Home Page*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*Skill Bars*/
@keyframes fillBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}