:root{
    --main-color: #FFBCB5;
    --accent-color1: #4c443c;
    --accent-color2: #07beb8;
    --accent-color3: #ef626c;
    /* light baby pink:  #FFBCB5 */
}
html {
    scroll-behavior: smooth;
}
body {
    padding-top: 50px;
}

/* Nav Bar */
.navbar {
    background-color: white;
}
.navbar-brand {
    font-family: 'Quicksand';
    color: #4c443c;
}
.nav-link {
    font-family: 'Roboto';
    color: var(--accent-color2);
}


/* Sitewide */
.container-fluid{
    padding-right:50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

/* Main Header */
.card-img {
    height: 200%;
}
.card-img-overlay {
    padding: 5rem;
}
.material-icons {
    color: white;
}
#mainHeader {
    background-color: var(--main-color);
    border: 0; 
}
#mainText {
    padding: 4rem;

}
.list-group-item {
    background-color: transparent;
    border: 0px;
    text-align: center;
}

/* Card Columns */
.card-columns  {
    padding-top: 20px;
    width: 80%;
    align-content: center;
}
.card:not(#mainHeader):hover {
    overflow: hidden;
    border-color: #ececec;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.25);
    text-decoration-color: var(--accent-color2);
}
.card:not(#mainHeader):hover h4 {
    color: var(--main-color)
}

/* Buttons */
.btn-outline-primary {
    color: var(--accent-color2);
    border-color: var(--accent-color2);
}
.btn-outline-primary:hover{
    color:#fff;
    background-color: var(--accent-color2);
    border-color:var(--accent-color2);
}

/* Projects Main Page */
.card:not(#mainHeader):hover h3 {
    color: var(--main-color)
}
.card {
    overflow: hidden;
    border-color: #ececec;
    border-radius: 10px 10px;
}
.card-title {
    font-family: 'Roboto';
    font-size: 200%;
    color: var(--accent-color3);
}
.card-text{
    padding: 10px 0px 10px 0px;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    height: 40%;
}
.img-row {
    width: 300px;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}
.col-12 {
    padding: 15px 25px 15px 25px;
}

/* Projects Individual Pages */
.header {
    border: 0; 
    position: relative;
    text-align: center;
    height: 350px;
    overflow: hidden;
}
.header-img {
    filter: brightness(50%);
    filter: blur(5px);
    width: 100%;
}
.title {
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner-nav {
    background-color: #efefef;
}
.inner-nav-item {
    list-style-type: none;
    padding: 25px;
    color: var(--accent-color2);
}

.inner-container {
    padding: 50px 15px 0px 15px;
    margin-bottom: -10px;
 
}
.project-pics {
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5px;
}
/* About Me */
*{box-sizing:border-box}
.profilePic {
    margin-top: 20px;
    border-radius: 200px;
}
.container {
    width: 100%;
    background-color: var(--accent-color2);
}
.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }
  
.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.resume {
    border:none;
    height: 1000px;
    width: 800px;
    padding: 0px;
}

a {
    text-decoration: none;
}
a:hover{
    color: var(--accent-color1);
}
p {
    text-decoration: none;
    color: black;
}
li:not(.regular):hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    color: var(--accent-color3);
}
h1{
    font-family: 'Roboto';
    font-size: 225%;
    color: white;
    text-align: center;
    font-weight: 100;
    animation: 2s ease 0s 1 fadeIn;
}
h1:not(#mainText) {
    text-shadow: 1px 0px 5px #000000;
}
h2 {
    font-family: 'Roboto';
    color:var(--accent-color3);
}
h3 {
    font-family: 'Roboto';
}
h4 {
    font-family: 'Roboto';
    color: var(--accent-color3);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}